<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='dashboard.css')}}" />
    <title>Update Tracker</title>
  </head>
  <body style="background-color:  lightseagreen">
    <section class="navigation-bar">
      <nav class="navbar header">
        <h1><a href="/{{user_id}}/{{user_name}}/dashboard">Hello {{user_name}}</a></h1>
        <div class="form-inline">
          <a href="/login">
            <button class="btn btn-outline-danger btn-lg">Logout</button>
          </a>
        </div>
      </nav>
    </section>
    <section class="tracker-form">
      <div class="container tracker-add">
        <h1>Update Tracker</h1>
        <div class="container text-center">
          <p style="font-size: 20px; padding: 20px; color:blue">
          Here, you can update the name and description of the  tracker you have selected. 
          </p>
          </div>
        <form action="/{{user_id}}/{{user_name}}/{{tracker_id}}/update_tracker" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input
              type="name"
              name="tName"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              value="{{tn}}"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <input
              type="text"
              name= "tDesc"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              value="{{td}}"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Tracker Type</label>
            <input
              type="text"
              name= "ttypes"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              value="{{t}}"
              readonly
            />
          </div>

      </div>
    </section>
    <section class="add-button">
        <div class="container text-center">
            <button class="btn btn-outline-primary btn-lg">Submit</button>
        </div>
    </section>
    </form>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
